<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjh.dao.TBlogMapper" >
  <resultMap id="BaseResultMap" type="xaut.wjh.entity.TBlog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="kid" property="kid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="schema" property="schema" jdbcType="VARCHAR" />
    <result column="clicks" property="clicks" jdbcType="INTEGER" />
    <result column="datetime" property="datetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="xaut.wjh.entity.TBlog" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, kid, uid, title, schema, clicks, datetime
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_blog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_blog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xaut.wjh.entity.TBlog" >
    insert into t_blog (id, kid, uid, 
      title, schema, clicks, 
      datetime, content)
    values (#{id,jdbcType=INTEGER}, #{kid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{schema,jdbcType=VARCHAR}, #{clicks,jdbcType=INTEGER}, 
      #{datetime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="xaut.wjh.entity.TBlog" >
    insert into t_blog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="kid != null" >
        kid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="schema != null" >
        schema,
      </if>
      <if test="clicks != null" >
        clicks,
      </if>
      <if test="datetime != null" >
        datetime,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="kid != null" >
        #{kid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="schema != null" >
        #{schema,jdbcType=VARCHAR},
      </if>
      <if test="clicks != null" >
        #{clicks,jdbcType=INTEGER},
      </if>
      <if test="datetime != null" >
        #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xaut.wjh.entity.TBlog" >
    update t_blog
    <set >
      <if test="kid != null" >
        kid = #{kid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="schema != null" >
        schema = #{schema,jdbcType=VARCHAR},
      </if>
      <if test="clicks != null" >
        clicks = #{clicks,jdbcType=INTEGER},
      </if>
      <if test="datetime != null" >
        datetime = #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="xaut.wjh.entity.TBlog" >
    update t_blog
    set kid = #{kid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      schema = #{schema,jdbcType=VARCHAR},
      clicks = #{clicks,jdbcType=INTEGER},
      datetime = #{datetime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xaut.wjh.entity.TBlog" >
    update t_blog
    set kid = #{kid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      schema = #{schema,jdbcType=VARCHAR},
      clicks = #{clicks,jdbcType=INTEGER},
      datetime = #{datetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>